# This is the pip requirements file for electron tunneling program.
#insall those dependencies by entering: 
#  pip install -r requirements.txt
# must be installed correctly before running

numpy
pandas 
scipy
matplotlib
seaborn
tqdm

